<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">通知标题：</td>
        <td class="content" colspan="3">{$object.title}</td>
    </tr>
    <tr>
        <td class="label">发布者：</td>
        <td class="content" colspan="3">{$object.staff_name}</td>
    </tr>
    <tr>
        <td class="label">通知详情：</td>
        <td class="content" colspan="3">{$object.details}</td>
    </tr>
    <tr>
        <td class="label">创建时间：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    </tbody>
</table>