
<!--数据列表-->
<table id="auth"></table>


<!--工具条-->
<form id="auth-tool" style="padding: 5px;">
    <div class="tool-opt">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-reload" onclick="authOpt.reload()">刷新表</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-redo" onclick="authOpt.redo()">取消选定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-undo" onclick="authOpt.reset()">重置查询</a>
    </div>
    <div class="tool-search">
        <label for="auth-search-keywords">关键字：</label>
        <input type="text" id="auth-search-keywords">
        <input type="text" id="auth-search-date-type">
        <input type="text" id="auth-search-date-from">
        <label for="auth-search-date-to">-</label>
        <input type="text" id="auth-search-date-to">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="authOpt.search()">查询</a>
    </div>
</form>
<!--JS-->
<script type="text/javascript" src="__JS__/auth.js"></script>