<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">公司名称：</td>
        <td class="content">{$object.company}</td>
        <td class="label">联系人：</td>
        <td class="content">{$object.name}</td>
    </tr>
    <tr>
        <td class="label">移动电话：</td>
        <td class="content">{$object.tel}</td>
        <td class="label">客户来源：</td>
        <td class="content">{$object.source}</td>
    </tr>
    <tr>
        <td class="label">录入员：</td>
        <td class="content">{$object.enter}</td>
        <td class="label">创建时间 ：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    </tbody>
</table>