@charset "utf-8";
body {
    height: 100% !important;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
.logo {
    float:left;
}
.nav {
    height: 80px;
    line-height: 80px;
    padding: 0 20px 0 0;
    float:right;
    color:#fff;
}
.textbox {
    height:20px;
    padding:0 2px;
    position:relative;
    top:-1px;
}
a:focus {
    outline: none;
}
a {
    color:#fff;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
#nav {
    margin:10px 15px;
}
.tree-node-selected {
    background:#999;
    border-radius:4px;
}
.tree-node-hover {
    border-radius:4px;
}
.menu-active {
    background: #999;
    border: none;
}
a.tabs-inner {
    color:#666 !important;
}
.datagrid-row-selected {
    background:#999 !important;
}
.easyui-dialog {
    padding: 15px 0 0 0;
}
.panel-title {
    font-size: 14px;
    font-weight: normal;
}
.textbox-text {
    background-color: #fff;
}
.form-label {
    padding: 5px 0;
    font-size: 14px;
    color: #666;
}
.dialog-button .l-btn-large .l-btn-text {
    font-size: 14px;
    padding: 0 10px 0 0;
    height: 35px;
    line-height: 35px;
    color: #666;
    margin-left: 32px !important;
}
.dialog-button .l-btn-small .l-btn-text {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.tooltip-content {
    font-size: 14px !important;
    color: #333;
}
.messager-body {
    font-size: 14px;
    color: #666;
}
.form-table, .details-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
.form-table tr:hover, .details-table tr:hover {
    background-color: #f3f3f3;
}
.form-table > tbody > tr > td {
    padding: 5px 0;
}
.details-table td {
    border: 1px solid #ccc;
}
.form-table td.label, .details-table td.label  {
    min-width: 100px;
    text-align: right;
    font-size:14px;
    color: #666;
}
.form-table td.input, .details-table td.content  {
    width: 290px;
    text-align: left;
    font-size:14px;
    color: #666;
}
.form-table .link {
    font-size: 14px;
    color: #06f;
    position: relative;
    top: 2px;
    left: 5px;
    cursor: pointer;
}
.form-table .textarea {
    width: 91%;
    height: 150px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
}
.details-table {
    width: 98%;
}
.details-table td.content {
    padding: 0 0 0 5px;
}
.details-table td {
    padding: 8px 0;
}
.details-table tr:nth-child(2n) {
    background-color: #fafafa;
}
.details-table tr:hover {
    background-color: #eee;
}
.combobox-item,.combo input {
    cursor: pointer;
}
.more {
    padding: 5px 0 0 58px;
    display: none;
}
.tabs-loading {
    /*display: none;*/
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 1px;
    width: 100%;
    height: 100%;
    padding: 11px 0 0 30px;
    background: #fff url("../img/loading.gif") no-repeat 10px 10px;
    border-bottom: 1px solid #000;
}