<!--Firefox火狐浏览器渲染遮罩专用-->
<!--<div class="tabs-loading">Loading...</div>-->
<table id="user"></table>

<form id="user-tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add-new" onclick="user_tool.add();">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-edit-new" onclick="user_tool.edit();">修改</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-delete-new" onclick="user_tool.remove();">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-reload" onclick="user_tool.reload();">刷新表</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-redo" onclick="user_tool.redo();">取消选定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-undo" onclick="user_tool.reset();" style="margin-top:-1px;">重置查询</a>
    </div>
    <div style="padding:0 0 0 7px;color:#333;">
        <label for="user-search-keywords">关键字：</label>
        <input type="text" id="user-search-keywords" class="easyui-textbox" name="user_search_keywords" prompt="帐号|档案|邮件" style="width:143px;padding: 0 5px;">
        <input type="text" id="user-search-state" prompt="状态" name="user_search_state">
        <input type="text" id="user-search-date" prompt="查询时间" name="user_search_date">
        <input type="text" id="user-search-date-from" prompt="起始时间" name="user_search_date_from" editable="false"  style="width:110px;">
        <label for="user-search-date-to">-</label>
        <input type="text" id="user-search-date-to" prompt="结束时间" name="user_search_date_to" editable="false" style="width:110px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="user_tool.search();" style="margin-top:-1px;">查询</a>
    </div>
</form>

<!--添加用户-->
<form id="user-add">
    <table class="form-table" style="max-width: 420px;">
        <tbody>
        <tr>
            <td class="label">
                <label for="user-accounts-add">帐号：</label>
            </td>
            <td class="input">
                <input type="text" id="user-accounts-add" name="user_accounts_add" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-password-add">密码：</label>
            </td>
            <td class="input">
                <input type="text" id="user-password-add" name="user_password_add" class="easyui-textbox">
                <span class="link rand-add">生成</span>
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-email-add">电子邮件：</label>
            </td>
            <td class="input">
                <input type="text" id="user-email-add" name="user_email_add" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-staff-add">关联档案：</label>
            </td>
            <td class="input">
                <input type="text" id="user-staff-add" name="user_staff_add" class="easyui-textbox">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<!--编辑用户-->
<form id="user-edit">
    <input type="hidden" name="user_id_edit">
    <input type="hidden" name="user_name_edit">
    <table class="form-table" style="max-width: 420px;">
        <tbody>
        <tr>
            <td class="label">
                <label for="user-accounts-edit">帐号：</label>
            </td>
            <td class="input">
                <input type="text" id="user-accounts-edit" name="user_accounts_edit" disabled class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-password-edit">密码：</label>
            </td>
            <td class="input">
                <input type="text" id="user-password-edit" name="user_password_edit" class="easyui-textbox"> <span class="link rand-edit">生成</span>
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-email-edit">电子邮件：</label>
            </td>
            <td class="input">
                <input type="text" id="user-email-edit" name="user_email_edit" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-staff-edit">关联档案：</label>
            </td>
            <td class="input">
                <input type="text" id="user-staff-edit" name="user_staff_edit" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="user-state-edit">状态：</label>
            </td>
            <td class="input">
                <input type="text" id="user-state-edit">
                <input type="hidden" name="user_state_edit">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript" src="__JS__/user.js"></script>
