<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">付款编号：</td>
        <td class="content">{$object.order_sn}</td>
        <td class="label">订单标题：</td>
        <td class="content">{$object.order_title}</td>
    </tr>
    <tr>
        <td class="label">收款金额：</td>
        <td class="content">{$object.order_amount}</td>
        <td class="label">录入员：</td>
        <td class="content">{$object.enter}</td>
    </tr>
    <tr>
        <td class="label">简介：</td>
        <td class="content">{$object.remark}</td>
        <td class="label">创建时间：</td>
        <td class="content">{$object.create_time}</td>
    </tr>
    <tr>
        <td class="label">支付方式：</td>
        <td class="content">{$object.way}</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>