<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">标题：</td>
        <td class="content" colspan="3">{$object.title}</td>
    </tr>
    <tr>
        <td class="label">内容：</td>
        <td class="content" colspan="3">{$object.message}</td>
    </tr>
    <tr>
        <td class="label">发布者：</td>
        <td class="content" colspan="3">{$object.send_name}</td>
    </tr>
    <tr>
        <td class="label">创建时间：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    </tbody>
</table>