<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">姓名：</td>
        <td class="content">{$object.name}</td>
        <td class="label">性别：</td>
        <td class="content">{$object.gender}</td>
    </tr>
    <tr>
        <td class="label">工号：</td>
        <td class="content">{$object.number}</td>
        <td class="label">职位：</td>
        <td class="content">{$object.Post.name}</td>
    </tr>
    <tr>
        <td class="label">移动电话：</td>
        <td class="content">{$object.tel}</td>
        <td class="label">员工类型：</td>
        <td class="content">{$object.type}</td>
    </tr>
    <tr>
        <td class="label">身份证 ：</td>
        <td class="content">{$object.id_card}</td>
        <td class="label">婚姻状况：</td>
        <td class="content">{$object.marital_status}</td>
    </tr>
    <tr>
        <td class="label">民族 ：</td>
        <td class="content">{$object.nation}</td>
        <td class="label">入职时间：</td>
        <td class="content">{$object.entry_date}</td>
    </tr>
    <tr>
        <td class="label">学历 ：</td>
        <td class="content">{$object.education}</td>
        <td class="label">离职时间：</td>
        <td class="content">{$object.dimission_date}</td>
    </tr>
    <tr>
        <td class="label">入职状态 ：</td>
        <td class="content">{$object.entry_status}</td>
        <td class="label">专业：</td>
        <td class="content">{$object.Extend.specialty}</td>
    </tr>
    <tr>
        <td class="label">政治面貌 ：</td>
        <td class="content">{$object.politics_status}</td>
        <td class="label">健康状况：</td>
        <td class="content">{$object.Extend.health}</td>
    </tr>
    <tr>
        <td class="label">户口 ：</td>
        <td class="content">{$object.Extend.registered}</td>
        <td class="label">毕业时间：</td>
        <td class="content">{$object.Extend.graduate_date}</td>
    </tr>
    <tr>
        <td class="label">户口所在地 ：</td>
        <td class="content">{$object.Extend.registered_address}</td>
        <td class="label">毕业院校：</td>
        <td class="content">{$object.Extend.graduate_colleges}</td>
    </tr>
    <tr>
        <td class="label">个人简介 ：</td>
        <td class="content" colspan="3">{$object.Extend.intro}</td>
    </tr>
    <tr>
        <td class="label">详情备注 ：</td>
        <td class="content" colspan="3">{$object.Extend.details}</td>
    </tr>
    <tr>
        <td class="label">创建时间 ：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    </tbody>
</table>