<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">公司名称：</td>
        <td class="content">{$object.client_company}</td>
        <td class="label">跟单员：</td>
        <td class="content">{$object.staff_name}</td>
    </tr>
    <tr>
        <td class="label">跟单方式：</td>
        <td class="content">{$object.way}</td>
        <td class="label">进展状况：</td>
        <td class="content">{$object.evolve}</td>
    </tr>
    <tr>
        <td class="label">下次联系：</td>
        <td class="content">{$object.next_contact}</td>
        <td class="label">跟单时间 ：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    <tr>
        <td class="label">录入员 ：</td>
        <td class="content">{$object.enter}</td>
        <td class="label">创建时间 ：</td>
        <td class="content">{$object.create_time}</td>
    </tr>
    <tr>
        <td class="label">详情备注：</td>
        <td class="content" colspan="3">{$object.remark}</td>
    </tr>
    </tbody>
</table>