<table id="alarm"></table>

<!--预警工具栏-->
<form id="alarm-tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-reload" onclick="alarm_tool.reload();">刷新表</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-undo" onclick="alarm_tool.reset();" style="margin-top:-1px;">重置查询</a>
    </div>
    <div style="padding:0 0 0 7px;color:#333;">
        <label for="alarm-search-keywords">关键字：</label>
        <input type="text" id="alarm-search-keywords" class="easyui-textbox" name="alarm_search_keywords" prompt="产品名称或编号" style="width:143px;padding: 0 5px;">
        <input type="text" id="alarm-search-type" prompt="产品类型" name="alarm_search_type">
        <input type="text" id="alarm-search-date" prompt="查询时间" name="alarm_search_date">
        <input type="text" id="alarm-search-date-from" prompt="起始时间" name="alarm_search_date_from" editable="false"  style="width:110px;">
        <label for="alarm-search-date-to">-</label>
        <input type="text" id="alarm-search-date-to" prompt="结束时间" name="alarm_search_date_to" editable="false" style="width:110px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="alarm_tool.search();" style="margin-top:-1px;">查询</a>
    </div>
</form>

<script type="text/javascript" src="__EDITOR__/kindeditor.js"></script>
<script type="text/javascript" src="__EDITOR__/lang/zh_CN.js"></script>
<script type="text/javascript" src="__JS__/alarm.js"></script>