<table class="details-table" style="max-width: 780px;">
    <tbody>
    <tr>
        <td class="label">工作名称：</td>
        <td class="content">{$object.title}</td>
        <td class="label">业务类型：</td>
        <td class="content">{$object.type}</td>
    </tr>
    <tr>
        <td class="label">完成阶段：</td>
        <td class="content">{$object.stage}</td>
        <td class="label">状态：</td>
        <td class="content">{$object.state}</td>
    </tr>
    <tr>
        <td class="label">实行人：</td>
        <td class="content">{$object.staff_name}</td>
        <td class="label">发行人：</td>
        <td class="content">{$object.allo_name}</td>
    </tr>
    <tr>
        <td class="label">开始时间：</td>
        <td class="content">{$object.start_date}</td>
        <td class="label">结束时间：</td>
        <td class="content">{$object.end_date}</td>
    </tr>
    <tr>
        <td class="label">创建时间：</td>
        <td class="content" colspan="3">{$object.create_time}</td>
    </tr>
    </tbody>
</table>